.page-content {

  .section-search,
  .section-teams {
    width: 100%;
    margin: 0 auto 8px;
    padding: 16px;
    background-color: $section-bnd-color;

    h4 {
      margin-bottom: 16px;
      font-weight: bold;
      font-style: italic;
      color: $secondary-color;
    }
  }
}
