.page-header {

  .header-top {
    width: 100%;
    margin: 0 auto 1px;
    background-color: $head-bnd-color;
    color: $head-txt-color;
    display: flex;
    justify-content: center;

    .user-details {
      margin: 40px 0 30px;

      .user-avatar {
        margin: 0 0 6px;
  
        img {
          width: 60px;
          height: 60px;
        }
      }

      .user-level {
        padding: 2px 6px;
        text-align: center;
        border-radius: 12px;
        background-color: $head-bnd-level;
  
        h6 {
          font-weight: bold;
        }
      }
    }

    .title-holder {

      .user-title {
        display: none;
      }
    }
  }

  .header-tabs {
    width: 100%;
    margin: 0 auto 8px;
    background-color: $head-bnd-color;
    display: flex;
    justify-content: center;

    .tab-title {
      margin: 0 12px;
      padding: 12px 6px;
      font-size: 14px;
      font-weight: bold;
      color: $tab-txt-inactive;
      border-bottom: 3px solid $head-bnd-color;

      &.active {
        color: $tab-txt-active;
        border-bottom: 3px solid $main-color;
      }
    }
  }
}
