.page-header {
  width: 100%;
  margin: 0 auto 1px;
  background-color: $head-bnd-color;
  color: $head-txt-color;
  display: flex;
  justify-content: center;

  .user-details {
    margin: 40px 0 30px;

    .user-avatar {
      margin: 0 0 6px;

      img {
        width: 60px;
        height: 60px;
      }
    }

    .user-level {
      padding: 1pt 8pt 2pt;
      text-align: center;
      border-radius: 12px;
      background-color: $head-bnd-level;
    }
  }

  .title-holder {

    .user-title {
      display: none;
    }
  }
}
