.page-content {

  .section-search {
    
    form {

      input {
        width: 100%;
        height: 36px;
        padding: 0 14px 0 40px;
        border-radius: 20px;
        background-color: $section-teams-color;
        z-index: 100;
  
        &::placeholder {
          color: $details-txt;
        }
      }

      .search-icon {
        position: relative;
        top: 27px;
        right: -14px;
        display: block;
      }

      .search-clear {
        position: relative;
        top: -27px;
        left: calc(100% - 28px);
        display: block;
      }
    }

    .results-section {
      margin: auto -16px;

      .found-list {
        
        li {

          .found-list-item {
            padding: 8px 16px;
            display: flex;

            .team-placeholder {
              max-width: 36px;
              max-height: 36px;
              margin-right: 20px;
              padding: 6px;
              border-radius: 50%;
              background-color: $section-teams-color;
            }

            &:hover {
              background-color: $section-teams-color;

              .team-placeholder {
                background-color: $section-bnd-color;
              }
            }

            .team-details {

              .leagues-list {
                margin-bottom: 4px;
                color: $details-txt;
                font-size: 11px;
              }

              .team-name-and-stadium {
                font-size: 14px;

                .stadium-placeholder {
                  max-height: 4px;
                  margin-left: 8px;
                  padding-left: 10px;
                  border-left: 1px solid $separator-color;
                  color: $details-txt;
  
                  .stadium-icon {
                    margin-right: 4px;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                  }
                }
              }
            }

            .team-actions {
              margin-left: auto;

              .follow-btn {
                padding: 8px 20px;
                border-radius: 20px;
                font-size: 13px;
                font-weight: bold;
                background-color: $main-color;
                color: $section-teams-color;
              }

              .unfollow-btn {
                padding: 8px 20px;
                border-radius: 20px;
                border: 1px solid $main-color;
                font-size: 13px;
                font-weight: bold;
                background-color: $section-teams-color;
                color: $main-color;
              }
            }
          }
        }
      }

      .not-found {
        text-align: center;

        img {
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 20px;
          color: $details-txt;
        }
      }
    }
  }
}
