.content {

  .section-about {

    .section-title {
      text-transform: uppercase;
    }

    .about-text {
      padding: 16px 0;

      .general-text {
        margin-bottom: 12px;
        text-align: justify;
      }
    }
  }
}
