.content {

  .section-teams {
    padding-bottom: 8px;

    .followed-list {
      margin: 16px -16px 0;

      .followed-list-item {
        padding: 8px 16px;
        display: flex;

        .team-placeholder {
          max-width: 36px;
          max-height: 36px;
          margin-right: 20px;
          padding: 6px;
          border-radius: 50%;
          background-color: $section-teams-color;
        }

        &:hover {
          background-color: $section-teams-color;

          .team-placeholder {
            background-color: $section-bnd-color;
          }
        }

        .team-details {
          display: flex;
          align-items: center;
        }
      }
    }

    .no-teams {
      height: 90px;
      margin: 16px 0 8px;
      border-radius: 12px;
      background-color: $section-teams-color;
      display: flex;
      align-items: center;
      justify-content: center;

      .no-teams-text {
        text-align: center;
      }
    }
  }
}
