/* When the browser is at least 960px and above */
@media screen and (min-width: 960px) {
  nav {
    margin-bottom: 16px;

    a {

      .logo-short {
        display: none;
      }
  
      .logo-long {
        display: inline-block;
      }
    }

    .nav-title {
      display: none;
    }
  }

  .wrapper {
    max-width: 600px;
    margin: 0 auto;

    .page-header {
      padding: 0 42px;
      justify-content: flex-start;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .title-holder {
        padding-top: 60px;

        .user-title {
          display: inline-block;
          margin-left: 20px;
        }
      }
    }

    .content {

      .section-teams {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

/* When the browser is smaller than 540px */
@media screen and (max-width: 540px) {

  .leagues-text span {
    font-size: 9pt;
  }

  .team-name span {
    font-size: 12pt;
  }

  .stadium-name span {
    font-size: 10pt;
  }

  .btn-text {
    font-size: 11pt;
  }

  .follow-btn,
  .unfollow-btn {
    padding: 6px 18px !important;
    border-radius: 18px !important;
  }
}
