$main-color: #00B1FF;
$secondary-color: #1A3150;

$main-bnd-color: #0000000F;
$hover-bnd-color: #F5F7F9;

$details-txt: #6F8CAA;
$separator-color: #E1E7ED;

$nav-bnd-color: #1E3554;
$nav-txt-color: #FFFFFF;

$head-bnd-color: #112948;
$head-txt-color: #FFFFFF;
$head-bnd-level: #1D3451;

$tab-txt-active: #FFFFFF;
$tab-txt-inactive: #6F8CAA;

$section-bnd-color: #FFFFFF;
$section-teams-color: #F5F7F9;

body {
  min-width: 375px;
  background-color: $main-bnd-color;
}
